<!DOCTYPE html>
<html>
  <head>
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                   <h4><%= link_to 'Bookers',root_path, class:'navbar-brand' %></h4></br>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav ml-auto">
                           <% if user_signed_in? %>
                           <li><%= link_to 'Homes', user_path(current_user.id), class: 'fas fa-home nav-link text-light' %></li>
                           <li><%= link_to 'Users', users_path, class:'fas fa-users nav-link text-light' %></li>
                           <li> <%= link_to 'Books', books_path, class:'fas fa-book-open nav-link text-light' %></li>
                           <li> <%= link_to 'logout', destroy_user_session_path,method: :delete, class:'fas fa-sign-out-alt nav-link text-light' %></li>
                          <% else %>
                           <li><%= link_to 'Homes', root_path,class:'fas fa-home nav-link text-light'  %></li>
                           <li><%= link_to 'About', home_about_path,class:'fas fa-link nav-link text-light'  %></li>
                           <li><%= link_to 'sign up', new_user_registration_path,class:'fas fa-user-plus nav-link text-light' %></li>
                           <li><%= link_to 'login', new_user_session_path,class:'fas fa-sign-in-alt nav-link text-light' %></li>
                          <% end %>
                        </ul>
                     </div>
                </div>
            </nav>
            <div class="col-md-4 offset-md-4">
             <% if user_signed_in? %>
                <%= form_with url: search_path, method: :get, local: :true do |f| %>
                  <%= f.text_field :word %>
                  <%= f.select :range, options_for_select([['User'], ['Book']]) %>
                  <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"], ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
                  <%= f.submit "検索" %>
                <% end %>
                <% end %>
            </div>
        </header>
      <%= yield %>
    </body>
 <footer>
    <div class="container mt-5">
         <div class="row">
            <div class="mx-auto">
              <p>CopyRight Infratop.inc</p>
            </div>
        </div>
    </div>
</footer>
</html>
